<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .nav{
        background: #3a3a3a;
        height: 65px
    }
    ul{overflow: hidden;}
    ul li{
        float: left;
        list-style: none;
        padding: 0 10px;
        line-height: 65px
    }
    ul a{
        color: aliceblue
    }
    
    </style>
</head>

<body>
    <div class="nav">
        <ul>
            <li><a href="#">首页</a></li>
            <li><a href="#">问答</a></li>
        </ul>
    </div>
    <h1>首页内容</h1>
</body>

</html>
